@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}


body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  background-color: #11101f;
  color: #ffffff;
  /* Add more dark theme styles as needed */
}

/* Add the light theme class to the body for initial load */
.light {
  background-color: #ffffff;
  color: #1a202c;
  /* Add more light theme styles as needed */
}

.border-blur {
  border-bottom: 1px solid transparent; /* Set your border properties here */
  animation: borderBlur 0.3s ease-in-out forwards;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image:url("./assets/6938830_3417324.jpg")
}

.gradient-bg-services {
  /* background-color:#0f0e13;
  background-image: 
  radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%); */
}

.gradient-bg-transactions {
  background-color: rgb(27, 69, 117);
  background-position: center;
  /* background-image:  */
  /* radial-gradient(at 50% 100%, rgb(60, 97, 219) 0, transparent 50%),
    radial-gradient(at 0% 0%, rgb(60, 49, 113) 0, transparent 50%);  */
}

.gradient-bg-footer {
  /* background-color: #0f0e13;
  background-image: 
   
    /* radial-gradient(at 83% 67%, rgb(152, 157, 231) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%); */

}

.blue-glassmorphism {
  background: rgba(66, 105, 233, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#3125d7;
  /* background-image:  */

    /* radial-gradient(at 83% 67%, rgb(152, 157, 231) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%); */
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes borderBlur {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(5px);
  }
}

/* Tailwind CSS @apply directives for theme toggle */
.theme-toggle-dark {
  @apply dark-theme;
}

.theme-toggle-light {
  @apply light;
}
@tailwind base;
@tailwind components;
@tailwind utilities;